
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Narnoor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  
}
.top{

    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    color: white;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 11;
    transition: 1.5s ease-in-out;

}
.top .logo img{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.scroll{
    background-color: black !important;
    transition: 1.5s ease-in-out;

}

body{
    transition:1s ease-in-out;
    overflow-x: hidden;
   
}
.top a{
    text-decoration: none;
    color: white;
    font-family: 'Narnoor', serif;
}
.top a:hover{
    color: #6e07f3;
}
.buttons{
    display: flex;
    gap: 3rem;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
    
}
.logo img{
    width: 7rem;
  margin-top: 2rem;
    display: flex;
    align-items: center;
}
.hire a{
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border:1px solid #2270e2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;

}
.hire a:hover{
    background-color: #6e07f3;
    color: white;
    transition: 0.3s ease;
}
.front-container{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    z-index: -1;
 
}
.front p {
    font-family: 'Narnoor', serif;
}
.first-page{
  
    background-image: url(photo/BodyBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.front {

display: flex;
flex-direction: column;
gap: 1rem;
}
.front h1{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    
    
 
}
.front a{
    color: white;
    margin: auto;
    height: 3rem;
    width: 10rem;
    justify-content: center;
    background-color: rgb(9, 9, 9,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    font-family: 'Narnoor', serif;
    
}
.greetings strong{
    color: #00ffc3;
}
.greetings{
    background-color: black;
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3cpath d='M-88.78 363.34L-88.78 363.34' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-88.78 363.34L42.7 513.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-88.78 363.34L111.4 394.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-88.78 363.34L223.78 345.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-88.78 363.34L-67.96 676.02' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-88.78 363.34L214.89 488.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.96 676.02L-67.96 676.02' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.96 676.02L98.62 695.06' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.96 676.02L42.7 513.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.96 676.02L111.4 394.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.96 676.02L214.89 488.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M111.4 394.14L111.4 394.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M111.4 394.14L223.78 345.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M111.4 394.14L42.7 513.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M111.4 394.14L214.89 488.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M111.4 394.14L409.17 400.93' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M111.4 394.14L98.62 695.06' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M42.7 513.13L42.7 513.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M42.7 513.13L214.89 488.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M42.7 513.13L98.62 695.06' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M98.62 695.06L98.62 695.06' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M98.62 695.06L214.89 488.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M98.62 695.06L398.13 501.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M98.62 695.06L223.78 345.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M223.78 345.2L223.78 345.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M223.78 345.2L214.89 488.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M223.78 345.2L409.17 400.93' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M214.89 488.26L214.89 488.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M409.17 400.93L409.17 400.93' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M409.17 400.93L503.33 380.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M409.17 400.93L398.13 501.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M398.13 501.08L398.13 501.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M398.13 501.08L542.31 508.25' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M398.13 501.08L503.33 380.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M398.13 501.08L214.89 488.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M503.33 380.32L503.33 380.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M503.33 380.32L542.31 508.25' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M503.33 380.32L704.35 351.03' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M503.33 380.32L657.41 521.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M503.33 380.32L695.25 239.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M542.31 508.25L542.31 508.25' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M542.31 508.25L657.41 521.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M543.72 709.8L543.72 709.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M543.72 709.8L661.2 700.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M543.72 709.8L542.31 508.25' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M543.72 709.8L657.41 521.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M543.72 709.8L398.13 501.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M543.72 709.8L818.83 688.6' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M695.25 239.26L695.25 239.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M695.25 239.26L792.98 213.37' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M695.25 239.26L704.35 351.03' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M695.25 239.26L801.11 399.96' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M695.25 239.26L847.16 74.85' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M704.35 351.03L704.35 351.03' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M704.35 351.03L801.11 399.96' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M704.35 351.03L792.98 213.37' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M704.35 351.03L657.41 521.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M657.41 521.35L657.41 521.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M657.41 521.35L817.54 502.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M657.41 521.35L661.2 700.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M657.41 521.35L801.11 399.96' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M661.2 700.83L661.2 700.83' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M661.2 700.83L818.83 688.6' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.16 74.85L847.16 74.85' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.16 74.85L962.81 91.45' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.16 74.85L792.98 213.37' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M792.98 213.37L792.98 213.37' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M792.98 213.37L957.25 190.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M792.98 213.37L801.11 399.96' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M792.98 213.37L962.81 91.45' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M801.11 399.96L801.11 399.96' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M801.11 399.96L817.54 502.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M817.54 502.08L817.54 502.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M817.54 502.08L952.99 534.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M818.83 688.6L818.83 688.6' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M818.83 688.6L817.54 502.08' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M818.83 688.6L1010.35 668.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M818.83 688.6L952.99 534.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M818.83 688.6L657.41 521.35' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M954.08 -77.38L954.08 -77.38' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M954.08 -77.38L962.81 91.45' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M954.08 -77.38L847.16 74.85' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M954.08 -77.38L1155.83 -62.72' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M962.81 91.45L962.81 91.45' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M962.81 91.45L957.25 190.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M962.81 91.45L1092.77 74.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M962.81 91.45L1124.15 205.59' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M957.25 190.77L957.25 190.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M957.25 190.77L847.16 74.85' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1012.32 366.39L1012.32 366.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1012.32 366.39L1113.47 369.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M952.99 534.27L952.99 534.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M952.99 534.27L1089.63 489.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M952.99 534.27L1010.35 668.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1010.35 668.29L1010.35 668.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1010.35 668.29L1100.88 655.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1155.83 -62.72L1155.83 -62.72' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1155.83 -62.72L1282.45 -42.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1155.83 -62.72L1092.77 74.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1155.83 -62.72L1294.44 108.49' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1092.77 74.77L1092.77 74.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1092.77 74.77L1124.15 205.59' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1124.15 205.59L1124.15 205.59' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1124.15 205.59L1240.74 197.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1124.15 205.59L1113.47 369.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1113.47 369.17L1113.47 369.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1113.47 369.17L1089.63 489.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1113.47 369.17L1270.66 374.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1089.63 489.54L1089.63 489.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1089.63 489.54L1012.32 366.39' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1089.63 489.54L1100.88 655.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1089.63 489.54L1256.08 493.57' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1089.63 489.54L1010.35 668.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1100.88 655.19L1100.88 655.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1282.45 -42.4L1282.45 -42.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1282.45 -42.4L1428.54 -52.07' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1282.45 -42.4L1294.44 108.49' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1282.45 -42.4L1429.8 90.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1294.44 108.49L1294.44 108.49' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1294.44 108.49L1240.74 197.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1294.44 108.49L1429.8 90.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1294.44 108.49L1421.3 188.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1294.44 108.49L1124.15 205.59' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1240.74 197.09L1240.74 197.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1270.66 374.22L1270.66 374.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1270.66 374.22L1256.08 493.57' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1270.66 374.22L1409.64 386.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1270.66 374.22L1240.74 197.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1256.08 493.57L1256.08 493.57' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1256.08 493.57L1409.64 386.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1256.08 493.57L1113.47 369.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1256.08 493.57L1445.46 521.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.18 702.77L1309.18 702.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.18 702.77L1450.95 681.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.18 702.77L1100.88 655.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.18 702.77L1256.08 493.57' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.18 702.77L1445.46 521.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1309.18 702.77L1561 677.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1428.54 -52.07L1428.54 -52.07' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1428.54 -52.07L1429.8 90.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1428.54 -52.07L1593.33 -88.59' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1428.54 -52.07L1538.83 111.74' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1429.8 90.95L1429.8 90.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1429.8 90.95L1421.3 188.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1429.8 90.95L1538.83 111.74' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1421.3 188.99L1421.3 188.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1421.3 188.99L1538.83 111.74' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1421.3 188.99L1569.29 246.46' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1421.3 188.99L1240.74 197.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1421.3 188.99L1409.64 386.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1409.64 386.26L1409.64 386.26' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1409.64 386.26L1445.46 521.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1409.64 386.26L1589.07 377.66' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.46 521.2L1445.46 521.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.46 521.2L1588.32 542.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.46 521.2L1450.95 681.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1445.46 521.2L1561 677.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1450.95 681.77L1450.95 681.77' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1450.95 681.77L1561 677.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1450.95 681.77L1588.32 542.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1593.33 -88.59L1593.33 -88.59' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1593.33 -88.59L1538.83 111.74' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1593.33 -88.59L1429.8 90.95' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1593.33 -88.59L1282.45 -42.4' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1538.83 111.74L1538.83 111.74' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1538.83 111.74L1569.29 246.46' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1569.29 246.46L1569.29 246.46' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1569.29 246.46L1589.07 377.66' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1589.07 377.66L1589.07 377.66' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1589.07 377.66L1588.32 542.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1589.07 377.66L1445.46 521.2' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1589.07 377.66L1421.3 188.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1588.32 542.09L1588.32 542.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1588.32 542.09L1561 677.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1561 677.3L1561 677.3' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='5' cx='-88.78' cy='363.34' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-67.96' cy='676.02' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='111.4' cy='394.14' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='42.7' cy='513.13' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='98.62' cy='695.06' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='223.78' cy='345.2' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='214.89' cy='488.26' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='409.17' cy='400.93' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='398.13' cy='501.08' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='503.33' cy='380.32' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='542.31' cy='508.25' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='543.72' cy='709.8' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='695.25' cy='239.26' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='704.35' cy='351.03' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='657.41' cy='521.35' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='661.2' cy='700.83' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='847.16' cy='74.85' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='792.98' cy='213.37' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='801.11' cy='399.96' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='817.54' cy='502.08' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='818.83' cy='688.6' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='954.08' cy='-77.38' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='962.81' cy='91.45' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='957.25' cy='190.77' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1012.32' cy='366.39' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='952.99' cy='534.27' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1010.35' cy='668.29' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1155.83' cy='-62.72' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1092.77' cy='74.77' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1124.15' cy='205.59' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1113.47' cy='369.17' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1089.63' cy='489.54' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1100.88' cy='655.19' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1282.45' cy='-42.4' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1294.44' cy='108.49' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1240.74' cy='197.09' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1270.66' cy='374.22' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1256.08' cy='493.57' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1309.18' cy='702.77' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1428.54' cy='-52.07' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1429.8' cy='90.95' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1421.3' cy='188.99' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1409.64' cy='386.26' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1445.46' cy='521.2' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1450.95' cy='681.77' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1593.33' cy='-88.59' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1538.83' cy='111.74' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1569.29' cy='246.46' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1589.07' cy='377.66' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1588.32' cy='542.09' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1561' cy='677.3' fill='%23132e65'%3e%3c/circle%3e%3cpath d='M211.02 555.59L211.02 555.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M211.02 555.59L200.95 699.61' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M211.02 555.59L109.02 659.26' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M211.02 555.59L48.63 503.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M211.02 555.59L385.41 643.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M211.02 555.59L403.08 506.88' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M211.02 555.59L505.39 645.31' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M385.41 643.18L385.41 643.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M385.41 643.18L505.39 645.31' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M385.41 643.18L403.08 506.88' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.91 695.87L670.91 695.87' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.91 695.87L802.16 699.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.91 695.87L505.39 645.31' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M670.91 695.87L541.26 505.43' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M974.39 638.27L974.39 638.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M974.39 638.27L978.07 532.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M974.39 638.27L1094.19 648.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M974.39 638.27L851.52 550.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1094.19 648.48L1094.19 648.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1094.19 648.48L978.07 532.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1094.19 648.48L1259.66 701.71' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1260.46 -67.69L1260.46 -67.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1260.46 -67.69L1435.94 44.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1260.46 -67.69L1552.49 -97.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1260.46 -67.69L1249.52 249.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1260.46 -67.69L1551.02 66.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1260.46 -67.69L1141.33 244.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1260.46 -67.69L1427.84 253.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1280.35 525.2L1280.35 525.2' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1280.35 525.2L1259.66 701.71' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1280.35 525.2L1397.43 387.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1280.35 525.2L1437.3 642.98' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1280.35 525.2L1125.8 395.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1280.35 525.2L1094.19 648.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1280.35 525.2L1249.52 249.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1573.79 232.64L1573.79 232.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1573.79 232.64L1427.84 253.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1573.79 232.64L1552.26 384.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.26 384.7L1552.26 384.7' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.26 384.7L1581.04 504.99' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.26 384.7L1397.43 387.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.26 384.7L1427.84 253.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.26 384.7L1437.3 642.98' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-97.01 520.47L-97.01 520.47' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-97.01 520.47L48.63 503.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-97.01 520.47L-67.25 702.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-97.01 520.47L109.02 659.26' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-97.01 520.47L211.02 555.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-97.01 520.47L200.95 699.61' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-97.01 520.47L385.41 643.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.25 702.75L-67.25 702.75' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.25 702.75L109.02 659.26' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.25 702.75L48.63 503.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.25 702.75L200.95 699.61' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-67.25 702.75L211.02 555.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M48.63 503.38L48.63 503.38' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M48.63 503.38L109.02 659.26' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M48.63 503.38L200.95 699.61' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M48.63 503.38L403.08 506.88' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M109.02 659.26L109.02 659.26' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M109.02 659.26L200.95 699.61' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M200.95 699.61L200.95 699.61' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M200.95 699.61L385.41 643.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M403.08 506.88L403.08 506.88' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M403.08 506.88L541.26 505.43' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M403.08 506.88L505.39 645.31' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M541.26 505.43L541.26 505.43' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M541.26 505.43L505.39 645.31' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M541.26 505.43L385.41 643.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M505.39 645.31L505.39 645.31' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M505.39 645.31L802.16 699.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M845.76 384.8L845.76 384.8' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M845.76 384.8L997.68 344.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M845.76 384.8L851.52 550.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M851.52 550.15L851.52 550.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M851.52 550.15L978.07 532.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M851.52 550.15L802.16 699.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.16 699.83L802.16 699.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M802.16 699.83L974.39 638.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.66 250.42L986.66 250.42' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.66 250.42L997.68 344.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.66 250.42L1141.33 244.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.66 250.42L845.76 384.8' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.66 250.42L1125.8 395.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.66 250.42L1249.52 249.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.66 250.42L978.07 532.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.68 344.01L997.68 344.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M997.68 344.01L1125.8 395.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M978.07 532.01L978.07 532.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M978.07 532.01L997.68 344.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M978.07 532.01L845.76 384.8' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M978.07 532.01L1125.8 395.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1141.33 244.62L1141.33 244.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1141.33 244.62L1249.52 249.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1141.33 244.62L1125.8 395.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1141.33 244.62L997.68 344.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1141.33 244.62L1427.84 253.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1141.33 244.62L1397.43 387.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1125.8 395.15L1125.8 395.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1249.52 249.14L1249.52 249.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1249.52 249.14L1427.84 253.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1259.66 701.71L1259.66 701.71' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1259.66 701.71L1437.3 642.98' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1259.66 701.71L974.39 638.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1259.66 701.71L978.07 532.01' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1435.94 44.35L1435.94 44.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1435.94 44.35L1551.02 66.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1435.94 44.35L1552.49 -97.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1435.94 44.35L1427.84 253.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1435.94 44.35L1573.79 232.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1427.84 253.69L1427.84 253.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1427.84 253.69L1397.43 387.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1427.84 253.69L1551.02 66.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1397.43 387.59L1397.43 387.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1397.43 387.59L1249.52 249.14' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1437.3 642.98L1437.3 642.98' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1437.3 642.98L1605.8 691.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.49 -97.93L1552.49 -97.93' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1552.49 -97.93L1551.02 66.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1551.02 66.78L1551.02 66.78' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1581.04 504.99L1581.04 504.99' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1581.04 504.99L1605.8 691.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1581.04 504.99L1437.3 642.98' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1581.04 504.99L1397.43 387.59' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1581.04 504.99L1573.79 232.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1605.8 691.84L1605.8 691.84' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='25' cx='211.02' cy='555.59' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='385.41' cy='643.18' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='670.91' cy='695.87' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='974.39' cy='638.27' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='1094.19' cy='648.48' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='1260.46' cy='-67.69' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='1280.35' cy='525.2' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='1573.79' cy='232.64' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='25' cx='1552.26' cy='384.7' fill='url(%26quot%3b%23SvgjsRadialGradient1023%26quot%3b)'%3e%3c/circle%3e%3ccircle r='5' cx='-97.01' cy='520.47' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='-67.25' cy='702.75' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='48.63' cy='503.38' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='109.02' cy='659.26' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='200.95' cy='699.61' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='403.08' cy='506.88' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='541.26' cy='505.43' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='505.39' cy='645.31' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='845.76' cy='384.8' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='851.52' cy='550.15' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='802.16' cy='699.83' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='986.66' cy='250.42' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='997.68' cy='344.01' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='978.07' cy='532.01' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1141.33' cy='244.62' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1125.8' cy='395.15' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1249.52' cy='249.14' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1259.66' cy='701.71' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1435.94' cy='44.35' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1427.84' cy='253.69' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1397.43' cy='387.59' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1437.3' cy='642.98' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1552.49' cy='-97.93' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1551.02' cy='66.78' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1581.04' cy='504.99' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1605.8' cy='691.84' fill='%238b9ad9'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient id='SvgjsRadialGradient1023'%3e%3cstop stop-color='white' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%231735b3' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(23%2c 53%2c 179%2c 0)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");

}
.greeting-content{
    padding: 6rem 0 ;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
  
}
.greeting-content h1{
    font-weight: bolder;

}
.greeting-content h1,p{
    font-family: 'Heebo', sans-serif;
    text-align: center;    
}
.services-container{
    width: 100vw;
}
.services{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
    margin: auto;
  position: relative;
  bottom: 2rem;
  background-color: white;
  height: 10rem;
  border-radius: 2rem;


}
.service{
display: flex;
flex-direction: column;
padding:1rem ;
}
.service i {
    font-size: 2rem;
    padding: 1rem;
}
.service i:hover{
    color: #6e07f3;
}
.service p {
    margin: 0 20px;
}
.in-demand{
    display: flex;
    justify-content: space-around;
}
.in-demandservice{
    width: 16%;
    text-align: center;
}
.in-demandservice img{
    width: 100%;
    border-radius: 1rem;
}
.in-demandservice a {
    margin-top: 15px;
    display: flex;
    align-items: center;
   justify-content: center;
    border: 1px solid black;
    padding: 0.4rem 2rem;
    text-decoration: none;
    color: white;
    background-color: black;
    gap: 10px;
}
.indemand-caption{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
gap: 0.5rem;
padding-top: 5rem;
}

.swiper {
    width: 600px;
    height: 300px;
  }


/* swiper*/
.swiper {
    margin-top: 5rem;
    width:90%;
    height: 300px;
    padding: 0 3rem;
    
  }
  .swiper-wrapper img{
    width: 90%;
  }
  .portfolio-container{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
  }
  .how-caption{
    height: 10rem;
    display: flex;
    flex-direction:column ;
    justify-content: end;
    align-items: center;
  }
  .process-container{
    background-image: url(photo/pexels-bich-tran-669996.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: end;
    
  }
  .process{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    text-align: center;
    gap: 3rem;
    background-color: rgb(14, 13, 13,0.5);
    margin: 0.5 4rem;
  }
 .process-content{
    display: flex;
    flex-direction: column;
    
 }

 .process-container h1:hover{
    color: gold;
    transition: 0.5s ease-in-out;
    cursor: crosshair;
 }
 .process-content p  {
color: #aba9a9; 
}
.concept-container{
    display: flex;
    margin-top: 3rem;
}
.concept{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem 0 2rem;
}
.concept i {
   padding-right: 11px;
    gap: 1rem;
}
.concept-img {
    width: 50%;
    display: flex;
    justify-content: center;
}
.concept-img img{
    
    width: 90%;
}

.testimonial-container{
    display: flex;
    background-image: url(photo/pexels-neo-2653362.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    color: white;
    margin-top: 5rem;

}

.person{
    height: 20rem;
    max-width: 12rem;
    min-width: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    font-weight: bold;
}

.position {
    padding-top: 11px;
    color: #aba9a9;
    background-color: black;
}

.person img{
    width: 5rem;
}
.testimonial-caption{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.testimonial-caption h1{
    transform: rotate(-89deg);
}
.reviewer{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button button{
    background-color: transparent;
    color: black;
    font-size: 2rem;
border: none;
cursor: pointer;
padding: 0 0.5rem;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 50%;


}
.button button:hover{
    background-color: transparent;
    color: white;
    transition: 0.1s ease-in-out;
}
.review{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 1rem;
}
.review p{
    background-color: rgb(196, 194, 194,0.2);
    padding: 1rem 0.5rem;
}
.personpic{
    border-radius: 50%;
}

.colab-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.collab-caption{
    width: 45%;
    text-align: center;
}
.company{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.company img{
    width: 2rem;
    min-width: 25%;
}
.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  

    
   
}
.contact{
    display: flex;
    border: 1px solid black;
    width: 80%;
    height: 7rem;
    justify-content: center;
    gap: 5rem;
    background-color: #141c3a;
    color: white;
    border-radius: 0.5rem;
}
.start{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.do-this{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.do-this a{
    color: white;
    text-decoration: none;
    border: 1px solid #5be9b9;
    padding: 1rem 3rem;
    border-radius: 2rem;
}

.do-this a:hover{
    background-color: #5be9b9;
    color: black;
    transition: 0.5s ease;

}

.mobile-menu{
    display: none;
    transform: translateY(-101%);

}
.hamburger{
    display: none;
}
.loadContainer{
    background-color: black;
}
.loading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100vh;
    width: 100vw;
   font-size: 2rem;
    z-index: 2
}
.loading img{
    width: 25%;
}

.loader i{
    color: #0cdbab;
    margin-left: 5px;
   
    animation: spin 1s linear infinite;
}
.mobileonly{
    display: none;
}
.empower p {
    font-size: clamp(10px,2vw,18px);
}

@keyframes spin {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
    
}
.company-ab ul{
   
    list-style: none;
}

footer{
    background-color: #111542;
    height: 25rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footerlogo img{
    width: 10rem;

}
.social-medias {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.social-medias a{
    color: white !important;
}
.company-ab, .about, .techstack,.footerlogo{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.about a ,.company-ab a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(190, 190, 190);
    display: flex;
    margin: .5rem 0;

}
.techstack .title{
    color: white;
}
.techstack p{
    color: rgb(190, 190, 190);
}
.title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

@media (max-width: 950px) {
*{
    padding: 0;
    margin: 0;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    flex-direction: row-reverse;
}
.front h1{
    font-size: clamp(2.5rem, 10vw, 3.6rem);
}

    .buttons,.hire{
    display: none;
}
.hamburger{
    width: 0%;
    
    display: flex;
justify-content: start;
margin-right: 2rem;
}
.hamburger i{
    color: white;
    font-size: 2rem;
}



.mobileonly{
    background-color: #2ab1f3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    z-index: 1;
    width: 70vw;
    display: none;

}

.show{
    display: block;
    animation:menuEnter 1s linear;

    
}
.mbuttons{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.3rem;
   
}
@keyframes menuEnter{
    0% {transform: translateX(-100vw);}
    100% {transform: translateX(0vw);}

}











.greeting-content{
    min-width: 90%;
display: flex;   
 gap: 1rem;
 position: relative;

}


.services-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 15rem;
    height: 25rem;
}
.services{
    flex-wrap: wrap;
    min-width: 10rem;
}
.indemand-caption{
    margin-top: 15rem;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in-demand{
    display: flex;
    flex-wrap: wrap;
}
.in-demandservice{
 min-width: 20rem;
 flex-wrap: wrap;
 display: flex;
 justify-content: center;
margin-top: 3rem;
}
.process-container{
    height: 50rem;
    display: flex;
    justify-content: center;
}
.process{
    width: 90%;
    padding: 0 0.5rem;
}
.concept-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}
.concept{
    min-width: 90%;
}
.concept-img{
    width: 90%;
}
.testimonial-container{
    height: 35rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.testimonial-caption{
    display: none;
}
.review{
    width: 80%;
}
.colab-container{
   margin-top: 5rem;
}
.collab-caption{
    width: 80%;
}

.company-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-caption{
    width: 90%;
}
.company img{
    min-width:23rem;
    flex-wrap: wrap;
}
.contact{
    display: flex;
    flex-direction: column;
   height: 30rem;
   justify-content: center;
   align-items: center;
   min-width: 90%;
   text-align: center;
}
.start,.content,.do-this{
    width: 20rem;
}
.quote{
    display: none;
}
.socials{
    display: flex;
    min-width: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.proudly{
    width: 90%;
}

.loadContainer{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    


}
.loading{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100vh;
    width: 100vw;
   font-size: 2rem;
    z-index: 2
}
.loading img{
    width: 70%;
}

.loader i{
    color: #0cdbab;
    margin-left: 5px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
    
}
footer{
    flex-wrap: wrap;
    height: 100%;
    gap: 2rem;
    padding: 0 2rem;
}
.footerlogo , .about,.techstack , .company-ab {
    min-width: 40%;
    flex-wrap: wrap;
}

}
